{% extends 'main.html'%}
{% block content%}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .about {
        max-width: 800px;
        margin: 30px auto;
    }

    .section {
        padding: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .section h2 {
        margin-bottom: 20px;
    }

    .footer-link {
        color: #007bff;
        text-decoration: none;
    }

    .footer-link:hover {
        text-decoration: underline;
    }
</style>
<div class="container main" style="margin-top: 100px; margin-bottom: 30px;">
    <div id="aboutUs" class="section" style="background: linear-gradient(135deg, #ff6384, #36a2eb, #ffcd56);">
        <h2>About Us</h2>
        <div class="row">
            At ATS E-Shopping Website, we are driven by a passion for providing unparalleled shopping
            experiences to our valued customers. Our journey began with a vision to redefine online
            shopping,
            offering a curated selection of high-quality products that inspire and delight. Committed to
            excellence, we tirelessly strive to exceed expectations, delivering not just products, but a
            seamless fusion of style, innovation, and convenience. With a relentless focus on customer
            satisfaction, we foster a culture of trust and integrity, ensuring every interaction leaves a
            lasting impression. As we continue to evolve and innovate, our dedication remains unwavering -
            to
            empower you to shop with confidence and discover the extraordinary in every moment.
        </div>
    </div>

    <div id="ourStory" class="section" style="background: linear-gradient(135deg, #f8c390, #36a2eb, #d279ee);">
        <h2>Our Story</h2>
        <p>Embark on a journey with us as we unveil the captivating narrative behind ATS E-Shopping Website. Born from a
            shared passion for innovation and a deep-seated commitment to enriching lives, our story is one of ambition,
            resilience, and unwavering dedication. From humble beginnings to becoming a beacon of inspiration in the
            e-commerce landscape, every chapter is woven with tales of triumphs and challenges overcome. Fuelled by a
            relentless pursuit of excellence, we've transformed dreams into reality, cultivating a vibrant community of
            like-minded individuals who share our vision. As we embrace the future with boundless enthusiasm, our story
            continues to unfold, inviting you to be part of our remarkable journey – where every moment is a celebration
            of creativity, empowerment, and endless possibilities.</p>
    </div>

    <div id="missionValues" class="section" style="background: linear-gradient(135deg, #ffffff, #f78fad);">
        <h2>Mission & Values</h2>
        <p>Our mission at ATS E-Shopping Website is to empower individuals to embrace their unique passions and
            aspirations by providing unparalleled access to quality products, exceptional service, and inspiring
            experiences. Guided by integrity, innovation, and a relentless commitment to customer satisfaction, we
            strive to foster a culture of trust, transparency, and inclusivity. We are dedicated to cultivating
            meaningful connections with our customers, partners, and communities, while continuously pushing the
            boundaries of excellence. At ATS E-Shopping Website our values serve as the cornerstone of everything we do,
            guiding us to create a positive impact, inspire creativity, and enrich lives worldwide.</p>
        <h2> Vision </h2>
        <p>At ATS E-Shopping Website, our vision is to revolutionize the online shopping experience by creating a
            dynamic and immersive platform that transcends traditional boundaries. We aspire to be the destination of
            choice for discerning shoppers seeking not just products, but inspiration, innovation, and unparalleled
            convenience. Driven by a relentless pursuit of excellence, we envision a future where every interaction with
            our brand leaves a lasting impression, where shopping becomes an enriching journey of discovery and delight.
            With a commitment to innovation, sustainability, and customer-centricity, we aim to set new standards of
            excellence in e-commerce, empowering individuals to realize their dreams and aspirations with every click
        </p>
    </div>

    <div id="careers" class="section" style="background: linear-gradient(135deg, #939b8e, #32d8f5);">
        <h2>Careers</h2>

        <p>Join the ATS E-Shopping Website team and embark on an exciting journey where innovation meets opportunity. We
            are passionate about creating exceptional experiences for our customers, and our success is driven by the
            talent and dedication of our team members. As a rapidly growing company, we are constantly seeking talented
            individuals who share our vision and values to join us in shaping the future of e-commerce.

            At ATS E-Shopping Website, we believe in fostering a culture of creativity, collaboration, and continuous
            learning. Whether you're a seasoned professional or just starting your career, we offer a range of
            opportunities across various departments including marketing, operations, technology, customer service, and
            more. Join us and be part of a dynamic team that's pushing the boundaries of innovation and redefining the
            way people shop online.

            We are committed to supporting our employees' growth and development, offering competitive salaries,
            benefits, and opportunities for advancement. If you're passionate about making a difference and thrive in a
            fast-paced environment, we'd love to hear from you. Explore our current job openings and take the first step
            towards a rewarding career with ATS E-Shopping Website.</p>
    </div>
</div>
{%endblock%}