{% extends 'main.html' %}
{% include 'cdnlines.html' %}
{% block content %}
<div class="container-fluid offset-md-4 col-md-4 mt-3 mb-3 shadow">
    <h5>Verify Email and  OTP </h5>
    <form method="POST">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <!-- <input type="email" id="email" name="email" class="form-control" value="{{ email }}"><br> -->
        <label for="otp">Enter OTP:</label><br>
        <input type="text" id="otp" name="otp" required><br><br>
        <button type="submit" class="btn btn-primary mb-5">Verify OTP</button>
    </form>
</div>
{% endblock %}